#news a,
.IVTMa ul li a,
.___box__child a,
.___take_to:hover,
.__blog_content a,
.__hoveBlog:hover,
.__para__about a,
.__plus_year:hover,
.__right__side a,
.__slot_inner a,
._leftcontent a,
.dropdown,
.footer_points:hover a,
.for_oopsdkk a,
.forkdkfj_ooldjf a,
.mega_link:hover,
.new-cs a,
.new-cs a:hover,
.second_title a,
.sidepanel a,
.term p a,
.uufjgghgh,
a.dcudfjr_nfjf,
a.fornon_dursdht,
ul.list_style li a {
    text-decoration: none
}

#myBtn,
.___consultButton,
.openbtn,
.poinred_btnn button,
form.example button {
    cursor: pointer
}

.call_noe img,
.phone_no img {
    filter: invert(1)
}

.icon_after_login,
.lawBtn36,
.time-wrapper,
input,
label h5 {
    vertical-align: middle
}

*,
body {
    -webkit-font-smoothing: auto
}

.bg_top_ {
    background: linear-gradient(to right, #101113, #343436, #413f40, #424243) !important
}

.bg-logo {
    border-right: none !important;
    background: linear-gradient(to right, #040507, #070a0b, #0e0f11) !important
}
.__view_desktop{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1020;
}
.mar_tp_pp___ {
    margin-top: 7rem !important;
}
.mar_tp_pp___2 {
    margin-top: 2rem !important;
}
.__slot_inner a,
.bars {
    font-weight: 700;
    color: #fff
}

.Law_each p,
.___oppFirm,
.term p {
    font-weight: 500
}

body {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: auto;
    font-family: insaaf
}

html {
    scroll-behavior: smooth
}

.__savemr {
    margin-left: 1.5rem
}

.__slot_inner a {
    background: #f0c14b
}

.term p {
    color: #fff;
    margin: 0
}

.term a {
    color: rgb(240 193 75)
}

.copyrig_fo_imh.term small {
    justify-content: center;
    display: flex
}

.logo img {
    width: 97px;
    margin-top: 4px
}

.main_header {
    width: 100%;
    height: 106px;
    z-index: 99999
}

.law_toggle26541564,
.linkedin:hover i,
.menu_main,
.twiiter:hover i {
    color: #fff !important
}

.header {
    top: 0;
    width: 100%;
    background-color: #f1f1f15e
}

._wp_law_pd {
    margin-top: -3px
}

.lawClick,
.padd_footer p,
a.fornon_dursdht {
    color: #fff
}

.hrff,
.insaafSpace,
.mega_menu .menu {
    padding: 20px
}

@media all and (min-width:992px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0
    }

    .navbar .has-megamenu {
        position: static !important
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px
    }

    .navbar .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 12px
    }
}

.navbar .nav-link {
    font-size: 16px
}

.Law_each {
    background: rgb(240 193 75)
}

.Law_each p {
    font-size: 1rem;
    padding: .5rem;
    color: rgb(0 0 0)
}

.main_footer {
    margin-bottom: 52px;
    background: rgb(12 12 12)
}

.footer_Base h4 {
    color: #fff;
    font-weight: 600
}

.footer_contact li {
    border-bottom: 1px dotted #8a8a8a;
    padding-bottom: 6px;
    margin-bottom: 10px;
    color: #fff
}

.document_css {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    -webkit-box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0
}

._leftcontent h5 {
    font-size: 1rem;
    color: #200b0b
}

._bg_content_ {
    background-position: 50% 2%;
    background-image: url(../images/banner-img.webp);
    height: 500px;
    width: 100%
}

.___corner,
.lawBtn36,
.text {
    font-size: .8rem
}

.lawBtn36 {
    line-height: 3.4rem;
    display: unset !important;
    color: #fff
}

.bg-logo {
    height: auto
}

.facebook,
.instagram,
.linkedin,
.twiiter {
    background: #ff9100
}

.__footer3654365 .btn {
    color: #fff;
    border-radius: 0;
    background: #1a243f
}

.___inner_div h4,
.__footer3654365 h3 {
    font-size: 1rem;
    margin-bottom: 0
}

.slide-top {
    -webkit-animation: 1.5s cubic-bezier(.25, .46, .45, .94) infinite alternate-reverse backwards slide-top;
    animation: 1.5s cubic-bezier(.25, .46, .45, .94) infinite alternate-reverse backwards slide-top
}

form.example input[type=text] {
    padding: 7px;
    margin-top: 6px;
    font-size: 17px;
    border: 1px solid #fff;
    float: left;
    width: 90%;
    background: #f1f1f1
}

form.example button {
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 6px;
    width: 43px;
    padding: 8px;
    background: #f0c14b;
    color: #fff;
    font-size: 17px;
    border: none
}

.whats,
.youtube {
    line-height: 1.5
}

.__card_body_left,
.padd_footer p {
    text-align: left
}

.footer_contact li,
.padd_footer p {
    font-weight: 300
}

.__gov_logo img {
    width: 200px
}

.___footer_logo img {
    width: 114px
}

.___headerimg img {
    width: 146px;
    margin-right: 10px
}

.law_menu {
    padding-right: 0
}

.___highgov {
    margin-right: 1px
}

.facebook {
    border-right: 1px solid #1778f2
}

.instagram,
.youtube {
    background: radial-gradient(circle at 145% 87%, #fdf497 9%, #fdf497 28%, #ff1700 45%, #ea11a7 60%, #285aeb 100%)
}

.linkedin {
    background: #0a66c2
}

.twiiter {
    background: #1d9bf0
}

.whats {
    background: #01ab45
}

.term {
    padding-top: 12px
}

.__border_bottom {
    border-bottom: 1px solid #e0e0e0
}

.openbtn,
.openbtn:focus {
    border: 0;
    outline: 0
}

.sidepanel {
    -webkit-box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden
}

.openbtn,
.openbtn:hover {
    background-color: transparent
}

.sidepanel p {
    color: #ffff;
    margin-bottom: 0;
    background: #1a243f;
    padding: 10px
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #000;
    display: block
}

.sidepanel .closebtn {
    color: #fff;
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 36px
}

.openbtn {
    font-size: 20px;
    color: #fff;
    margin-top: -4px;
    padding: 10px 15px;
    border: none
}

.___firstRow h5,
.__all_toggle,
.text1 {
    font-size: 1rem
}

.left-ContentSide h4 {
    font-size: 1rem;
    font-weight: 700
}

.left-ContentSide i {
    font-size: 1.3rem
}

.___oppFirm {
    padding-top: 5px;
    font-size: .8rem
}

.left-ContentSide {
    border-bottom: 1px solid silver
}

.class_mandetoy {
    padding: unset !important;
    text-decoration: none !important;
    font-size: unset !important;
    color: #000 !important;
    display: unset !important;
    transition: unset !important
}

.__pulse_rectangle,
.__pulse_rectangle2,
.facebook,
.instagram,
.linkedin,
.twiiter,
.whats,
.youtube {
    display: block;
    box-shadow: 0 0 0 rgb(204 169 44 / 40%);
    font-weight: 600;
    font-family: system-ui;
    font-size: 1rem;
    cursor: pointer
}

.____base_Heading h4,
.__pulse_rectangle,
.__pulse_rectangle2,
.facebook,
.instagram,
.linkedin,
.twiiter,
.whats,
.youtube {
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

.__pulse_rectangle,
.__pulse_rectangle2 {
    margin-top: -1px;
    margin-right: 10px;
    padding: .2rem 1.5rem;
    border-radius: 3px;
    animation: 1s infinite pulse;
    line-height: 1.1
}

.facebook,
.instagram,
.linkedin,
.twiiter,
.whats,
.youtube {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

.__pulse_rectangle {
    background: #2ca9cc
}

.__pulse_rectangle2 {
    background: #f0c14b
}

.facebook,
.instagram,
.linkedin,
.twiiter {
    line-height: 1.1
}

.facebook,
.instagram,
.linkedin,
.twiiter,
.whats {
    padding-top: .8rem
}

#myBtn,
#news a,
.___contact2me h3,
.___contact2me i,
.___take_to h4,
.__about__bg__co h1,
.__para__about h5,
._row362564132674 i,
.border_btn:hover i,
.footer_points a,
.footer_points h5,
.form-check a,
.second_title a h3,
.sidepanel a:hover,
.texx_durl h1,
.texx_durl h3,
.texx_durl h4,
.texx_durl h5,
.verifyBtn:hover {
    color: #000
}

.banner_ppc_imh img {
    width: 100%
}

.facebook {
    background: #1778f2;
    animation: 3s infinite facebook
}

.instagram,
.youtube {
    animation: 3s infinite instagram
}

.youtube {
    background: red
}

.linkedin {
    animation: 3s infinite linkedin
}

.twiiter {
    animation: 3s infinite twiiter
}

.whats {
    animation: 3s infinite whats
}

.____Only_mobile {
    line-height: 1.6;
    margin: .4rem;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100% !important
}

form.example::after {
    content: "";
    clear: both;
    display: table
}

#news a,
#spin3,
.category h4,
.class_anme,
.coucil__vtx,
.font700,
.reuest__call h2,
.stepper-item.active,
.vtx__law_name h3 {
    font-weight: 700
}



.msg,
.red {
    color: red
}

.Our_talk {
    font-family: inherit !important;
    font-weight: 600;
    font-size: 1.5rem;
    color: #b5b5b5
}

.dropdown-menu {
    max-height: 548px;
    overflow-y: scroll
}

._leftcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 365px
}

.topUserCon img {
    border-radius: 52px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 6px
}

.copyrig_fo_imh {
    padding-top: 12px;
    padding-bottom: 1rem
}

.for_flc_cpodlf {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: #fff;
    border-top: 1px solid gray
}

.IVTMa li,
.___dropdown_wp,
label h5 {
    margin: 0
}

.dropdown,
label h5 {
    display: inline-block
}

.dropdown,
.exp p {
    position: relative
}

.about-conta,
.bae-11 h5,
.descreption {
    text-align: justify
}

.___Eng,
.badge22,
.bg_ho1,
.bg_ho2,
.dropdown-content {
    position: absolute
}

#myBtn,
#news a,
.__bg_view_top {
    position: fixed
}

.marque {
    background: #1a243f;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff
}

.descreption {
    font-size: 18px;
    color: #1b1201
}

.red {
    font-size: 14px
}

.dex {
    font-size: 17px
}

.___clientbg {
    background: #fff;
    padding: 17px;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px
}

.___firstRow h4 {
    font-size: 1rem;
    font-family: arial;
    text-align: right;
    font-weight: 500
}

.__order_now_pay {
    background: #00a80d;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #0a9d11;
    font-weight: 500
}

.___LangPut,
.__newItem:focus {
    background-color: transparent !important
}

.__newItem {
    padding: .1rem 1rem;
    cursor: pointer !important
}

.___LangPut {
    color: #fff;
    padding: 5px !important;
    width: 100%;
    margin-top: 10px
}

.___Eng {
    transform: translate(-37px, -14px);
    font-size: .7rem
}

.tabHov {
    padding: .1rem .4rem
}

.___LangPut img {
    width: 28px
}

#myBtn {
    width: 50px;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: 0;
    background-color: rgb(240 193 75);
    padding: 10px;
    border-radius: 100%;
    height: 50px
}

#news a,
div#news2 a {
    background: rgb(255 0 102)
}

.__bg__of__footer {
    background: #000
}

.__footer__disclousure,
.__footer__disclousure:hover {
    color: #fff;
    font-size: .8rem;
    text-align: left
}

.footer___index {
    padding: 1.5rem
}

.footer___index h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase
}

.___divider__footer {
    height: 2px;
    background: rgb(240 193 75);
    width: 50px;
    margin-bottom: 1.5rem
}

.__para__about h5 {
    width: 80%;
    font-size: 1.2rem;
    color: #545454
}

.__para__about a {
    color: #001b58;
    font-weight: 700
}

#news a {
    top: 200px;
    transition: .3s;
    right: 0;
    z-index: 999999;
    font-size: 13px;
    width: 55px;
    border-radius: 10px 0 0 10px;
    writing-mode: vertical-rl;
    padding: .7rem;
    color: #fff
}

.slide-left {
    -webkit-animation: 1s cubic-bezier(.25, .46, .45, .94) infinite alternate both slide-left;
    animation: 1s cubic-bezier(.25, .46, .45, .94) infinite alternate both slide-left
}

.__savemr {
    border: 1px solid #fff;
    border-radius: 3px
}

@media only screen and (min-width:768px) and (max-width:3000px) {

    .___index__consult3,
    .__view_mobile,
    .section_view_mobile,
    .slot_book {
        display: none
    }

    .___index__consult,
    .__view_desktop,
    .for_document_step {
        display: block !important
    }

    .for_document_step_mobile,
    div#news2 {
        display: none !important
    }
}

#sideBar {
    position: sticky;
    top: 113px
}

.lawClick {
    padding: .4rem !important;
    border: 1px solid #fff !important
}

@media (max-width:1500px) {
    .navbar .nav-link {
        font-size: 12px !important
    }
}

@font-face {
    font-family: insaaf;
    src: url('../font/Roboto-Regular.ttf');
    font-display: swap
}

@font-face {
    font-family: insaafbold;
    font-display: swap;
    src: url('../font/Roboto-Bold.ttf')
}

@media (min-width:992px) {
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px
    }
}

.border_menu,
.border_menu:hover {
    border-right: 1px solid #e6e6e6;
    display: grid
}

.mega_link {
    color: #000;
    font-weight: 500;
    transition: .5s;
    padding: 5px 10px
}

.mega_link,
.mega_link:hover {
    font-size: 13px;
    line-height: 2
}

.mega_link:hover {
    color: #fff;
    transition: .5s ease-out;
    background-color: rgb(6 14 69);
    background-size: 200%
}

.__bg_view_top {
    width: 100%;
    z-index: 999999999;
    background: #fff
}

.___my_fix {
    width: 44px;
    margin-left: 4px
}

.menu_border {
    border-bottom: 1px solid #6c6c6c
}

.li_line .nav-item {
    margin-bottom: 12px;
    border-bottom: 1px dotted #8d8888
}

@media only screen and (max-width:1300px) {
    a.notw_lawye_btn_mobile {
        color: #061261;
        font-weight: 600;
        border: 1px solid;
        padding: 0 6px;
        float: right;
        margin-top: 11px;
        margin-right: 50px
    }
    .bd-highlight.___highgov {
        display: none;
    }

    .__polular__tag,
    .bg__black_index,
    .o__fornone,
    section.slot_book {
        display: none
    }

    .login__footer {
        padding: .4rem 1rem !important
    }
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    z-index: 999999;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.descreption h2,
.font {
    font-size: 25px
}

@media only screen and (min-width:0px) and (max-width:768px) {

    #myBtn,
    .__view_desktop,
    .for_document_step {
        display: none !important
    }

    .login__footer {
        padding: .4rem 1rem !important
    }

    .___index__consult,
    div#news {
        display: none
    }

    .mega_link {
        background-color: #ff9100;
        border-bottom: 1px solid #fff
    }

    ._leftcontent h1 {
        margin-top: 2rem
    }

    section._bg_content_3 {
        padding: 0 !important
    }

    .law_client h1,
    .law_client h2 {
        font-size: 1.4rem !important;
        font-weight: 700 !important
    }

    .__advocate_meeting img {
        height: auto !important;
        width: 100% !important
    }

    .descreption p,
    .descreption ul li {
        font-size: 14px
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #1a243f !important;
        overflow-x: hidden
    }

    .logo__ {
        padding: 5px;
        color: #000;
        font-size: 30px;
        background: 0 0;
        cursor: pointer;
        font-weight: 700
    }

    .logoMobile img {
        width: 38px;
        top: -3px;
        margin-top: -10px
    }

    .mobileSearch[type=text] {
        border-radius: 3%;
        width: 18px;
        box-sizing: border-box;
        border: 0;
        font-size: 14px;
        background-color: #fff;
        background-image: url(../images/search.png);
        background-position: 10px 12px;
        background-repeat: no-repeat;
        padding: 12px 4px 12px 40px;
        -webkit-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
        float: right;
        position: absolute;
        top: -8px;
        border-left: 1px solid #ccc;
        right: 0;
        text-indent: 22px
    }

    .__bg__of__footer {
        background: #000
    }

    .main_footer {
        margin-bottom: 52px;
        background: rgb(12 12 12)
    }

    .slot_book {
        color: #fff;
        background: #0099cb;
        position: fixed;
        z-index: 9999999999999999;
        bottom: 0;
        width: 100%;
        text-align: center
    }

    .Our_talk {
        font-size: .7rem;
        font-family: inherit !important
    }

    .__slot_inner {
        width: 100%;
        margin-top: 1rem !important
    }

    ._leftcontent h1 {
        color: #f0c14b;
        font-size: 1.5rem !important;
        font-weight: 700
    }

    ._leftcontent {
        padding: 2rem 1rem !important;
        display: block !important;
        flex-direction: column;
        justify-content: center;
        height: auto !important
    }

    .marque {
        background: #1a243f;
        padding: 6px;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff
    }

    .__para__about h5 {
        width: 100% !important;
        font-size: 1rem !important
    }

    ._bg_content_ {
        padding-top: 4rem;
        padding-bottom: 4rem;
        height: 400px !important
    }

    .topBg4355 {
        margin: auto;
        padding-top: 44px;
        padding-bottom: 18px;
        text-align: center;
        vertical-align: middle
    }

    .__view_mobile {
        display: block
    }

    .for_some_chng_hedar_moble {
        justify-content: end;
        margin-right: 20px
    }

    .sidenav a {
        font-size: .8rem;
        font-weight: 600;
        color: #fff
    }
}

.__footer___base__line img {
    width: 136px
}

@media screen and (max-width:768px) and (min-width:100px) {
    .pulse {
        color: #fff;
        text-transform: uppercase;
        font-size: 7px;
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #2ca9cc;
        cursor: pointer;
        box-shadow: 0 0 0 rgb(204 169 44 / 40%);
        animation: 1s infinite pulse;
        line-height: 10px;
        font-weight: 600;
        padding-top: 13px;
        font-family: system-ui;
        text-align: center;
        margin-left: 11px
    }

    .___corner {
        font-size: 8px
    }
}

.footer__fixed__raw {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center
}

.login__footer,
.login__footer:hover {
    padding: .4rem 4rem;
    background: rgb(255 255 255);
    border-radius: 0;
    border: 1px solid rgb(0 0 0) !important;
    color: rgb(0 0 0)
}

.we_offer {
    -webkit-box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px
}

.main_box_little:hover {
    border-top: 2px solid #ff9100
}

.main_box_little {
    height: 100%;
    border-radius: 10px;
    color: #fff;
    background: #fff;
    padding: 2rem;
    -webkit-box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    border-top: 2px solid #fff
}

.zoomout img {
    height: 147px;
    object-fit: contain
}

.cal_now_menu {
    font-size: 1.5rem;
    width: 17%
}

.call_noe {
    width: 15%;
    outline: #01bb01 solid 2px;
    border-radius: 1px;
    font-weight: 900;
    background: #01bb01;
    outline-offset: 5px;
    text-align: center;
    margin-right: 15px !important;
    padding: 1px 0
}

.call_noe a,
.phone_no a {
    text-decoration: none;
    color: #fff
}

.chng_searcg_wdth {
    width: 50%
}

.second_title h3 {
    height: 50px;
    font-size: 1.3rem;
    margin-top: 15px
}

.second_title a p {
    background: #1a243f;
    color: #fff;
    padding: 2px;
    margin-bottom: 0;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px
}

.__advocate_meeting img {
    float: right;
    height: 365px
}

._leftcontent h1 {
    color: #f0c14b;
    font-size: 4.3rem;
    font-weight: 700
}

.forcenter_colm {
    margin: auto
}

._leftcontent,
section._bg_content_3 {
    padding: 3rem
}

.law_client h4 {
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 9px;
    color: #f0c14b !important;
    text-transform: uppercase !important;
    font-size: 2.4rem;
    border-bottom: 2px solid;
    margin-bottom: 2rem;
}

._____marquueindex__row,
.base_ {
    color: #000 !important
}

._bg_content_2 {
    background-image: url(../images/speci.webp)
}

._bg_content_2,
._bg_content_3,
._bg_content_4,
._bg_crime_ {
    background-position: center;
    background-repeat: no-repeat;
    height: auto
}

._bg_content_2,
._bg_content_3,
._bg_content_4 {
    background-attachment: fixed;
    width: 100%
}

.phone_no p {
    margin: 0;
    align-items: center;
    display: flex
}

.phone_no img {
    padding-right: 3px
}

.phone_no {
    background: #01bb01;
    outline: #01bb01 solid 5px;
    outline-offset: 3px;
    padding: 4px;
    font-weight: 500
}

section.phone_section {
    position: fixed;
    top: 152px;
    right: 15px;
    color: #fff !important
}

h2.bgExtra {
    background: #060e45;
    margin: 0;
    padding: 12px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px
}

.card_hed_extrnalcss h2 button {
    background: 0 0;
    text-decoration: none !important;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    text-align: left
}

.card_inner_textextrncss {
    padding-top: 20px !important;
    border-bottom-right-radius: 0 !important;
    background: #fffcf3
}

@media screen and (max-width:769px) {
    iframe {
        bottom: 0 !important;
        height: calc(100% - 200px) !important;
        top: inherit !important;
        max-height: 400px !important;
        min-height: 200px !important
    }
    .mar_tp_pp___ {
        margin-top: 3rem !important;
    }
    .mar_tp_pp___2 {
        margin-top: 0rem !important;
    }
    .law_client h4 {
        padding-bottom: 0px !important;
        font-size: 2rem !important;
    }

    .meshim_widget_Widget {
        margin-bottom: 48px !important
    }

    ul.list_style li span {
        font-size: 12px !important
    }

    ul.list_style li {
        padding-left: 5px !important
    }

    .bg_how_it_work_inner {
        background: 0 0 !important;
        box-shadow: none !important;
        margin-top: 0 !important;
        display: flex
    }

    .inner_imge_how_it_work {
        max-width: 20% !important
    }

    .inner_imge_how_it_work img {
        width: 100% !important
    }

    .inner_text_how_it_work {
        text-align: start !important;
        padding-left: 20px !important
    }

    .ratings-title h1 {
        font-size: 1.5rem;
        margin-top: 12px
    }
}

section.bg__gry_documents {
    background: #f3f3f3;
    padding: 10px
}

.people-count p,
ul.list_style li {
    padding-left: 15px
}

ul.list_style {
    margin-top: auto;
    margin-bottom: auto
}

ul.list_style li a {
    color: #000
}

.product-number {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 20px
}

.ratings-title h1 {
    color: #ffba0d
}

h4.pheragrap_document {
    font-size: 15px
}

span.number {
    font-size: 30px;
    font-weight: 700
}

.people-count p span {
    font-weight: 700;
    font-size: 19px
}

.people-count p {
    margin: 0;
    font-size: 16px
}

.icon-circle {
    background: #ffd877;
    padding: 10px;
    border-radius: 50%
}

.people-count {
    margin-top: 15px
}

.how_it_wor_docment {
    margin-top: 3rem
}

.bg_how_it_work_inner {
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 3px 5px;
    padding: 1px 7px;
    border-radius: 10px;
    margin-top: 1rem;
    height: 100%
}

.inner_imge_how_it_work img {
    width: 40%;
    background: #e1efff;
    padding: 12px;
    border-radius: 20%
}

.inner_imge_how_it_work {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px
}

.inner_text_how_it_work p {
    font-size: 13px;
    font-weight: 500
}

.inner_text_how_it_work h6 {
    font-weight: 700;
    font-size: 12px;
    color: #ffb600
}

.inner_text_how_it_work {
    text-align: center;
    margin-top: 15px
}

.deliverables-box {
    text-align: left;
    margin: 16px 0;
    box-shadow: 0 0 9px 0 rgba(128, 167, 230, .16);
    border: 1px solid #7ab0ff;
    background: #f2f7ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 9px
}

.deliverables-box h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #1f3353
}

.deliverables-box p {
    font-size: 11px;
    font-weight: 700;
    color: #1f3353;
    line-height: 14px
}

.next_line {
    text-align: end
}

p.m_zero {
    margin: 0;
}

/* Specialization page css  */
.spicalization_maim_headin p {
    color: gray;
    font-weight: 600;
}

.spicalization_maim_headin h2 {
    color: #f0c14b;
    font-size: 3rem;
    font-weight: 700;
}

.spicalization_maim_headin {
    text-align: center;
    margin-top: 2rem;
}

.images_spc {
    position: sticky;
    top: 120px;
}

/* End Specialization css  */